@media (max-width: 1500px) {
  .main__menu_item::before {
    width: 0;
    height: 0;
  }
}

@media (max-width: 1300px) {
  .order__left::after {
    width: 0;
    height: 0;
  }
}

@media (max-width: 1100px) {
  .main__content_text {
    font-size: 24px;
    line-height: 28px;
  }

  .shedule__item {
    font-size: 20px;
    margin-top: 10px;
  }
  .contacts__left::after {
    width: 0;
    height: 0;
  }
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__left {
    max-width: 500px;
  }
  .contacts__right {
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  .account__inner {
    display: block;
    margin-top: 50px;
  }
  .account__left {
    max-width: none;
  }
  .account__up::after {
    width: 0;
    height: 0;
  }
  .account__bottom_content {
    margin-top: 30px;
  }
  .account__right_content {
    max-width: none;
    margin-top: 30px;
  }
  .account__right_acc {
    max-width: none;
    margin-top: 30px;
    padding: 0 15px;
  }
  .account__bottom_about {
    margin-top: 30px;
  }
}

@media (max-width: 950px) {
  .main__menu_item {
    height: 170px;
    max-width: 150px;
  }
  .main__menu_item:hover::after {
    height: 15px;
  }
  .account__left::after {
    width: 0;
    height: 0;
  }
}

@media (max-width: 900px) {
  .main__content_text {
    font-size: 20px;
    line-height: 24px;
  }
  .shedule__item {
    font-size: 18px;
  }
  .shedule__item-num {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }
  .order__inner {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .order__left {
    max-width: none;
  }
  .order__left form {
    margin: 0 auto;
  }
  .attention {
    max-width: 400px;
  }
  .order__right {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .main__menu_item {
    height: 150px;
    max-width: 125px;
  }
  .main__item_title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
  }
}

@media (max-width: 750px) {
  .main__content_text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 700px) {
  .order {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 670px) {
  .main__menu_inner {
    display: block;
    text-align: center;
  }
  .main__menu_item {
    margin: 0 auto;
    margin-top: 10px;
  }
  .main__menu_item:nth-child(1) {
    margin-left: auto;
  }
  .main {
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .main__content::after {
    bottom: -20px;
  }
  .slider__item_img {
    height: 150px;
  }
  .shedule__container {
    margin-left: 2%;
  }
  .shedule__breads {
    margin-left: 2%;
  }
}

@media (max-width: 600px) {
  .slider__item_img {
    height: 120px;
  }
  .main__content_text {
    font-size: 14px;
    line-height: 16px;
  }

  .after::after {
    width: 0;
    height: 0;
  }
  .footer__title {
    font-size: 30px;
    line-height: 35px;
  }
  .account__bottom_about {
    font-size: 20px;
    line-height: 24px;
  }
  .account__right_acc {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .account__btn {
    font-size: 20px;
    line-height: 24px;
  }
  .account__bottom_content {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .account__right_content {
    font-size: 20px;
    line-height: 24px;
  }
  .contacts {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 570px) {
  .teleg {
    margin-left: 0;
  }
  .vk {
    margin-left: 0;
  }
}

@media (max-width: 510px) {
  .account__bottom_about,
  .account__right_acc,
  .account__btn {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .slider__item_img {
    height: 110px;
  }
  .main__content_text {
    font-size: 13px;
    line-height: 15px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__right {
    max-width: none;
  }
  .footer__subtitle {
    max-width: none;
    margin-top: 5px;
  }
  .footer__center {
    margin-top: 10px;
  }

  .footer__right {
    margin-top: 10px;
    text-align: center;
  }
  .shedule__item-num {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  .shedule__item {
    font-size: 16px;
  }
  .shedule__title {
    padding-left: 35px;
    font-size: 20px;
  }
  .shedule__title::before {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 400px) {
  .contacts {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 470px) {
  .account__bottom_about,
  .account__right_acc,
  .account__btn {
    font-size: 16px;
    line-height: 18px;
  }
  .account__btn {
    max-width: 150px;
    margin-left: 33px;
  }
}

@media (max-width: 400px) {
  .slider__item_img {
    height: 100px;
  }
  .main__content_text {
    font-size: 10px;
    line-height: 12px;
  }
  .account__btn {
    margin-left: 25px;
  }
}
